.summary {
  max-width: 70ch;
  padding: var(--space-4);
  font: var(--type-body-sm);
  color: var(--sage-900);
  background-color: var(--sage-100);
  border-radius: var(--radius-md);
  overflow-wrap: break-word;
}
